/* COLOR PALETTE */

:root {
  --primary-color: #31092a;
  --primary-color-light: #70145f;
  --primary-color-dark: #24081f;
  --secondary-color: #450c3b;
  --background-gradient: linear-gradient(90deg,#31092a,#0e0331);
  --background-gradient-nav: linear-gradient(45deg,#31092a,#0e0331);
  --white-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* TYPOGRAPHY */
a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

p {
  font-size: 1.3rem;
}

.display-3--title {
  font-size: 2.2rem;
  font-weight: 600;
  display: block;
  background: var(--background-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (min-width: 768px) {
  .display-3--title {
    font-size: 2.5rem;
  }
} 

/* BORDER FOR THE SERVICE SECTION */

.border-right {
  border-right: 1px solid #ccc;
  height: 100%;
}

@media screen and (max-width: 579px) {
  .border-right {
    border-right: 0;
  }
}

/* BUTTON */

button {
  padding: 0.5rem 0.7rem;
  background: var(--white-color);
  font-weight: 700;
  border: 2px solid #000;
  transition: all 0.3s;
}

.button__service {
  padding: 0.8rem 1.2rem;
  font-size: 1.2rem;
}

.button__service:hover {
  background: var(--primary-color);
}

/* Lists */

ul {
  padding-left: 0;
}

/* NAVBAR */

nav {
  background: rgb(153, 38, 240);
  background: var(--background-gradient-nav);
}

.nav-link {
  padding: 0 0.7rem;
  color: var(--white-color);
  font-size: 1rem;
}

nav button {
  margin-left: 2rem;
}

button:hover {
  background-color: var(--background-gradient);
  color: var(--white-color);
  border: 2px solid white;
}

.button__icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-color-light);
  width: 34px;
  height: 34px;
  border-radius: 100%;
  margin-left: 0.5rem;
  transition: all 0.3s;
}

.button .fa-arrow-right {
  color: white;
}

.button__icon:hover .fa-arrow-right {
  color: #31092a;
}

.fa-phone-volume {
  transform: translateX(-4px) rotateY(210deg);
  color: var(--white-color);
  margin-left: 0.5rem;
  transition: all 0.5s;
}

button:hover .button__icon {
  background-color: var(--white-color);
}

nav button:hover .fa-phone-volume {
  color: #000;
}

@media screen and (max-width: 999px) {
  .hidden {
    display: none;
  }
}

@media screen and (min-width: 999px) {
  .contact {
    display: none;
  }
}

/* INTRO SECTION */

.display-2 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 1rem;
  text-transform: capitalize;
}

.display-2--intro {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-weight: 700;
}

.display-2--description {
  font-size: 1.5rem;
  display: block;
  margin-top: 1.2rem;
  text-transform: none;
}

.intro-section {
  background: var(--background-gradient);
  padding: 5rem 0 0 0;
}

section .fa-arrow-right {
  color: #000;
}

.intros {
  position: relative;
}

.play-icon {
  color: var(--secondary-color);
  font-size: 6rem;
}

.border-animation {
  position: absolute;
  width: 6rem;
  height: 6rem;
  border: 0.55rem solid var(--white-color);
  border-radius: 100%;
  top: 0;
  left: 0;
  animation: pulse-border 2.5s linear infinite;
}

.border-animation--border-1 {
  animation-delay: 2s;
}

.border-animation--border-2 {
  animation-delay: 2.5s;
}

svg {
  border-bottom: 0;
}

@keyframes pulse-border {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@media screen and (min-width: 768px) {
  .display-2--description {
    font-size: 2rem;
  }
}

/* COMPANIES SECTION */

.heading-line::before {
  content: '';
  width: 10rem;
  height: 0.1rem;
  margin: 0 auto;
  display: block;
  background: var(--primary-color);
}

.heading-line::after {
  content: '';
  width: 2rem;
  padding-top: 0.5rem;
  margin: 0 auto;
  margin-bottom: 1rem;
  height: 0.2rem;
  display: block;
  background: var(--primary-color);
}

/* COMPANIES LOGO */

.companies {
  padding: 0 0 5rem 0;
}

.companies__logo-box {
  max-width: 100%;
  height: 3rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  text-align: center;
  position: relative;
}

.companies img {
  height: 100%;
  transition: all 0.5s;
}

.companies__logo-box:hover img {
  filter: opacity(70%);
  transform: scale(1.2);
}

/* SERVICES SECTION */
.services__content .fas {
  color: var(--primary-color);
}

.services__image {
  max-width: 100%;
}

.service__img--first {
  transform: translateY(-20px);
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}

@media screen and (min-width: 992px) {
  .service__img--first {
    transform: translateY(-70px);
  }
}

/* TESTIMONIALS */

.testimonials hr {
  width: 100px;
  height: 3px;
}

.testimonials {
  background: var(--background-gradient);
}

.testimonials p {
  font-size: 1.3rem;
}

.testimonials__card {
  background: var(--white-color);
  opacity: 0.8;
  padding: 2rem 1.25rem;
  border-radius: 0.6rem;
  height: auto;
  text-align: center;
}

.testimonials__card i {
  color: var(--primary-color);
  opacity: 0.7;
}

.ratings i {
  font-size: 1rem;
}

.testimonials__image {
  width: 6rem;
  height: 6rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -40%);
}

.testimonials__image img {
  border: 0.325rem solid var(--secondary-color);
}

.testimonials__details {
  padding-top: 4.3rem;
  margin-bottom: 1rem;
  text-align: center;
  font-weight: 500;
  color: var(--white-color);
}

/* FAQ */

.faq p {
  font-size: 1.6rem;
}

@media screen and (min-width: 992px) {
  .faq p {
    font-size: 2rem;
  }
}

.accordion button:hover {
  color: #000;
}

/* PORTFOLIO */

.portfolio {
  padding: 4rem 0;
}

.portfolio .btn-outline-primary {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.portfolio .btn-outline-primary:hover {
  background: var(--primary-color-light);
  color: var(--white-color);
}

.portfolio-box {
  position: relative;
  width: 100%;
  height: 10.5rem;
  overflow: hidden;
  margin-bottom: 1.4rem;
  border-top: 10px solid var(--primary-color);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .portfolio-box {
    height: 18.5rem;
  }
}

.portfolio-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  background: var(--background-gradient);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all .4s;
}


.portfolio-box:hover .portfolio-info {
  opacity: 0.4;
  visibility: visible;
}

.portfolio-box:hover img {
  transition: all .4s;
}

.portfolio-box:hover img {
  transform: scale(1.3);
}

.portfolio-info .caption {
  text-align: center;
  transform: translateY(50%);
  color: var(--white-color);
  text-transform: uppercase;
}

/* GET STARTED */

.get-started {
  background: #ccc;
}

.get-started__shadow {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.get-started__info {
  background: var(--background-gradient);
  padding: 5rem 3rem;
  color: var(--white-color);
}

.get-started__form {
  padding: 5rem 3rem;
}

.get-started__info-description {
  color: #eee;
}

.get-started__info-list {
  list-style-type: none;
  padding: 0;
}

.get-started__info-list li {
  font-size: 1.3rem;
  font-weight: bold;
}

.get-started__info-list li::before{
  font-family: "Font Awesome 5 free";
  content: "\f00c";
  font-weight: 600;
  margin-right: 1rem;
}

.get-started button {
  background: white;
  color: var(--background-gradient)s;
  font-size: 1.4rem;
  font-weight: bold;
  text-transform: uppercase;
  border: 3px solid var(--primary-color);
  letter-spacing: 1px;
  transition: all .8s;
}

.get-started button:hover {
  color: white;
  background: var(--primary-color);
  border: 3px solid var(--primary-color);
}

/* FOOTER */

.footer {
  background: #151414;
}

.contact-box__icon {
  width: 54px;
}

.contact-box__info {
  padding: 0.4rem;
}

.contact-box__info--title,
.contact-box__info--subtitle {
  font-weight: 600;
}

.contact-box__info--title {
  color: var(--white-color);
  font-size: 1rem;
}

.contact-box__info--subtitle {
  color: #bbb;
}

@media screen and (max-width: 768px) {
  .contact-box__icon .icon {
    width: 44px;
    transform: translateY(10px);
  }

  .contact-box__info--subtitle {
    font-size: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .contact-box__info {
    padding-top: 0;
  }
  
  .contact-box__icon .icon {
    width: 50px;
  }

  .contact-box__info--subtitle {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .contact-box__info--title {
    font-size: 1.3rem;
  }

  .contact-box__info--subtitle {
    font-size: 1.1rem;
  }
}

/* FOOTER SOCIAL MEDIA */

.social-media {
  background-color: #3a333352;
  color: #eee;
  font-weight: bold;
  padding-left: 4.2rem;
  padding-right: 4.2rem;
}


.social-media__icons a .icon {
  display: inline-block;  
  width: 54px;
  cursor: pointer;
  transition: transform .4s;
  stroke: var(--primary-color-light);
  padding-left: .7rem;
}

.social-media__icons .icon:hover {
  transform: scale(1.3);
  stroke: var(--white-color);
}

.social-media__title p {
  font-size: 1.4rem;
}


@media screen and (min-width: 768px) {
  .social-media__icons .icon {
    display: inline-block;  
    width: 64px;
}
}

@media screen and (max-width: 574px) {
  .social-media__title {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .social-media p {
    margin-bottom: 0;
  }
}

/* ACCORDION FOOTER*/

