*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* Navigation Bar */

a {
  text-decoration: none;
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  background-color: #232323;
  border: 0;
}

.navigation a {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  color: #fff;
  transition: all 0.15s;
}

.navigation a:first-of-type {
  padding-top: 2rem;
}

.navigation a:last-of-type {
  padding-bottom: 2rem;
}

.navigation a:hover {
  transform: scale(1.1);
  color: #1e90ff;
}

.navigation .logo {
  font-family: "Amatic SC", sans-serif;
  font-size: 4.5rem;
  color: #1e90ff;
}

.navigation .logo:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }

  .navigation a:first-of-type {
    padding-top: 0.5rem;
  }

  .navigation a:last-of-type {
    padding-bottom: 0.5rem;
  }
}

/* Banner */

.banner {
  margin-top: 2rem;
  position: relative;
}

.banner img {
  width: 100%;
}

.banner__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner__summit,
.banner__experience {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.banner__experience {
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 3rem;
  letter-spacing: 2px;
}

.banner__summit {
  transform: translatey(-18px);
  font-family: "Amatic SC", sans-serif;
  font-size: 6rem;
  color: #1e90ff;
}

@media screen and (min-width: 768px) {
  .banner {
    top: 5rem;
  }

  .banner__experience {
    font-size: 10rem;
  }

  .banner__summit {
    font-size: 19rem;
  }
}

/* Description */

.resort__heading {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #1e90ff;
  margin-bottom: 0;
  margin-top: 10rem;
}

.resort__description {
  background-image: url("https://content.codecademy.com/courses/learn-links-and-buttons/project/mountain1.jpg");
  background-position: center top;
  background-size: cover;
  margin-top: 0;
}

.resort__text {
  font-family: "Raleway", sans-serif;
  font-size: 1.8rem;
  word-spacing: 2px;
  padding: 1rem 4rem;
  line-height: 2;
}

@media screen and (min-width: 768px) {
  .resort {
    width: 70%;
    margin: 0 auto;
  }

  .resort__text {
    font-size: 1.8rem;
  }
}

/* Activities */

.resort__activities {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activity {
  background-color: #2176ff;
  font-family: "Amatic SC", sans-serif;
  font-size: 4rem;
  font-weight: 300;
  color: #fff;
  letter-spacing: 2px;
  margin: 1rem;
  text-align: center;
  padding-top: 5rem;
  width: 22rem;
  height: 16rem;
}

.activity:hover {
  background-color: #fff;
  color: #2176ff;
  border: 1px solid #2176ff;
}

@media screen and (min-width: 768px) {
  .resort__activities {
    flex-direction: row;
    width: 70%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media screen and (min-width: 1300px) {
  .resort__activities {
    width: 60%;
  }
}

/* footer */

.resort-location {
  background-color: #2176ff;
  margin-top: 3rem;
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  color: #fff;
}
