<nav class="navbar navbar-expand-lg justify-content-between">
  <div class="container">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#">Testimonials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#">faq</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-uppercase contact" href="#">Contact</a>
        </li>
       </ul>
       <button type="button" class="rounded-pill hidden">+55 11 995130236
        <span class="button__icon"><i class="fa-solid fa-phone-volume"></i></span>
       </button>
    </div>
  </div>
</nav>